EXPO_PUBLIC_MAGIC_PUBLISHABLE_KEY=pk_live_XXXXXXXXXXX
EXPO_PUBLIC_ARBITRUM_RPC=https://arb1.arbitrum.io/rpc
EXPO_PUBLIC_ZERODEV_RPC=https://rpc.zerodev.app/api/v3/{id}/chain/42161
EXPO_PUBLIC_API_URL=http://127.0.0.1:500/api/v1  
EXPO_PUBLIC_SOCKET_URL=http://127.0.0.1:500
EXPO_PUBLIC_ZERODEV_PROJECT_ID=yourID
EXPO_PUBLIC_ZERODEV_API_KEY=sk_live_XXXXXXXXXXXXXXXXXXXXXX
