MONGO_URI=
JWT_SECRET=whatsyoursecret
MAGIC_SECRET_KEY=sk_live_XXXXXXXXX
ZERODEV_RPC_TEST=https://rpc.zerodev.app/api/v3/{id}/chain/421614
ZERODEV_RPC=https://rpc.zerodev.app/api/v3/{id}/chain/42161

# Smart Routing Address
COMMERCE_MERCHANT_WALLET=0x8XXXXXXXXXXXXX 

OPENAI_API_KEY=sk-proj-XXXXXXXXXXXXXXXXXXXXXXXXXXXX
GROK_API_KEY=xai-XXXXXXXXXXXXXXXXXXXXX
ALCHEMY_NOTIFY_TOKEN=XXXXXXXXXXXXXXXXXX
ALCHEMY_WEBHOOK_IDS={"ethereum":"wh_something","arbitrum":"wh_something","optimism":"wh_something"}
ALCHEMY_WEBHOOK_SIGNING_KEYS={"wh_something":"whsec_something","wh_something":"whsec_something","wh_something":"whsec_something"}
COINGECKO_API_KEY=
